

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

:root {
	--color-default-light: #e6e6e6;
	--color-default-dark: #000;
	--color-light: #fff;
	--color-dark: #333;

	/* variables to store the default color that will be changed in the dark mode   */
	--background: var(--color-default-light);
	--light: var(--color-default-dark);
}

body {
	font-family: 'Press Start 2P', cursive;
	background-color: var(--background);
	color: var(--light);
	height: 30vh;
}

body.dark {
	--background: var(--color-dark);
	--light: var(--color-light);
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100%;
}

.text {
	max-width: 700px;
	margin: 0 auto;
	text-align: center;
	margin-bottom: 2rem;
}

.text h1 {
	margin-bottom: 0.5rem;
}

input[type="radio"] {
	margin: 0 -2px 0 -2px;
	opacity: 0;
	width: 30px;
	height: 30px;
	cursor: pointer;
}

.toggle__wrapper {
	position: relative;
	height: 30px;
}
.toggle__background {
	background-color: #ccc;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	border-radius: 30px;
	pointer-events: none;
}
.toggle__button {
	position: absolute;
	left: 3px;
	top: 2px;
	right: 100%;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background-color: rebeccapurple;
	transition: all 150ms ease-in-out;
}

#dark:checked ~ .toggle__button {
	left: 40px;
}





/*map api*/
html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  /* background-color: black; */
  /* color: white; */
}

h1 {
  font-family: 'Press Start 2P', cursive;
  text-align: center;
  font-size: 2rem;
  padding: 0 3rem;
}

#map {
    height: 65vh;
}


/* .gm-style-iw-d {
  color: #000000;
} */
