 
water: rgba(5,89,253,255) #0058fc
Bright Green: rgba(69,168,33,255) #42aa1f
green: rgba(64,213,31,255) #40d320
road: rgba(221,154,100,255) #dd9a64

Map IDd9c32ef102ce8c3f 

API KEY : AIzaSyDhb7AniH_u0kFYSqvdw6aj28ScALlw6gY

